In [71]:
# passo a passo 
# Passo 1: Importar a base de dados
import pandas as pd

# Passo 2: Visualizar a base 
tabela = pandas.read_csv("cancelamentos_sample.csv")
tabela = tabela.drop(columns="CustomerID")
display(tabela)

,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,23.0,Male,13.0,22.0,2.0,1.0,Standard,Annual,909.58,23.0,0.0
1,49.0,Male,55.0,16.0,3.0,6.0,Premium,Monthly,207.00,29.0,1.0
2,30.0,Male,7.0,1.0,0.0,8.0,Basic,Annual,768.78,7.0,0.0
3,26.0,Male,40.0,5.0,3.0,8.0,Premium,Annual,398.00,12.0,1.0
4,27.0,Female,17.0,30.0,5.0,6.0,Basic,Annual,507.00,15.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
49995,62.0,Female,35.0,7.0,2.0,8.0,Basic,Annual,232.00,15.0,1.0
49996,36.0,Male,43.0,21.0,2.0,30.0,Basic,Quarterly,928.00,30.0,1.0
49997,55.0,Male,42.0,8.0,1.0,12.0,Basic,Monthly,326.00,27.0,1.0
49998,40.0,Female,14.0,19.0,1.0,17.0,Premium,Quarterly,826.76,12.0,0.0
49999,64.0,Male,41.0,29.0,5.0,9.0,Basic,Quarterly,700.38,18.0,1.0

In [72]:
# identificando e removendo valores vazios
tabela =tabela.dropna()
display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
Index: 49996 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   idade                   49996 non-null  float64
 1   sexo                    49996 non-null  object
 2   tempo_como_cliente      49996 non-null  float64
 3   frequencia_uso          49996 non-null  float64
 4   ligacoes_callcenter     49996 non-null  float64
 5   dias_atraso             49996 non-null  float64
 6   assinatura              49996 non-null  object
 7   duracao_contrato        49996 non-null  object
 8   total_gasto             49996 non-null  float64
 9   meses_ultima_interacao  49996 non-null  float64
 10  cancelou                49996 non-null  float64
dtypes: float64(8), object(3)
memory usage: 4.6+ MB

None

In [74]:
# Passo 4: AnÃ¡lisar a causa do cancelamento (% de cancelamentos)
display(tabela["cancelou"].value_counts())
display(tabela["cancelou"].value_counts(normalize=True).map("{:.1%}".format))

cancelou
1.0    28393
0.0    21603
Name: count, dtype: int64

cancelou
1.0    56.8%
0.0    43.2%
Name: proportion, dtype: object

In [75]:
# analisando o contrato mensal
agrupamento = tabela.groupby("duracao_contrato").mean(numeric_only=True)
display(agrupamento)
# descobrimos aqui que a mÃ©dia de cancelamentos Ã© 1, ou seja, praticamente todos os contratos mensais cancelaram (ou todos)

,idade,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,total_gasto,meses_ultima_interacao,cancelou
duracao_contrato,,,,,,,,
Annual,38.783985,31.416452,15.910449,3.277585,12.533985,650.925840,14.231544,0.464080
Monthly,41.428470,30.677964,15.577600,4.923917,15.078814,547.508921,15.392655,1.000000
Quarterly,38.833935,31.522099,15.842504,3.256113,12.480006,654.102443,14.364602,0.458759

In [76]:
display(tabela["tempo_como_cliente"].value_counts(normalize=True).map("{:.1%}".format))

display(tabela["frequencia_uso"].value_counts(normalize=True).map("{:.1%}".format))

tempo_como_cliente
31.0    1.9%
55.0    1.8%
53.0    1.8%
45.0    1.8%
28.0    1.8%
29.0    1.8%
58.0    1.8%
33.0    1.8%
32.0    1.8%
25.0    1.8%
52.0    1.8%
30.0    1.8%
42.0    1.8%
47.0    1.8%
48.0    1.8%
41.0    1.8%
59.0    1.8%
50.0    1.8%
43.0    1.8%
36.0    1.7%
56.0    1.7%
6.0     1.7%
39.0    1.7%
34.0    1.7%
7.0     1.7%
60.0    1.7%
51.0    1.7%
54.0    1.7%
8.0     1.7%
57.0    1.7%
10.0    1.7%
26.0    1.7%
11.0    1.7%
49.0    1.7%
40.0    1.7%
18.0    1.7%
46.0    1.7%
27.0    1.7%
37.0    1.7%
35.0    1.7%
9.0     1.6%
38.0    1.6%
44.0    1.6%
22.0    1.6%
21.0    1.6%
5.0     1.6%
2.0     1.6%
24.0    1.5%
16.0    1.5%
15.0    1.5%
4.0     1.5%
20.0    1.5%
13.0    1.5%
12.0    1.5%
14.0    1.5%
23.0    1.4%
19.0    1.4%
17.0    1.4%
3.0     1.4%
1.0     1.4%
Name: proportion, dtype: object

frequencia_uso
20.0    3.5%
17.0    3.5%
11.0    3.5%
21.0    3.5%
15.0    3.5%
23.0    3.5%
26.0    3.5%
29.0    3.5%
22.0    3.4%
12.0    3.4%
19.0    3.4%
30.0    3.4%
24.0    3.4%
25.0    3.4%
18.0    3.4%
13.0    3.4%
27.0    3.4%
14.0    3.4%
28.0    3.3%
10.0    3.3%
16.0    3.3%
7.0     3.2%
3.0     3.1%
6.0     3.1%
4.0     3.1%
8.0     3.1%
2.0     3.1%
5.0     3.1%
9.0     3.1%
1.0     3.1%
Name: proportion, dtype: object

In [77]:
display(tabela["duracao_contrato"].value_counts(normalize=True).map("{:.1%}".format))


display(tabela["total_gasto"].value_counts(normalize=True).map("{:.1%}".format))

duracao_contrato
Annual       40.3%
Quarterly    39.9%
Monthly      19.8%
Name: proportion, dtype: object

total_gasto
918.00    0.1%
331.00    0.1%
410.00    0.1%
307.00    0.1%
748.00    0.1%
          ...
744.28    0.0%
997.26    0.0%
851.08    0.0%
287.34    0.0%
700.38    0.0%
Name: proportion, Length: 22487, dtype: object

In [78]:
tabela = tabela[tabela["duracao_contrato"]!="Monthly"]
display(tabela)
display(tabela["cancelou"].value_counts())
display(tabela["cancelou"].value_counts(normalize=True).map("{:.1%}".format))

,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,23.0,Male,13.0,22.0,2.0,1.0,Standard,Annual,909.58,23.0,0.0
2,30.0,Male,7.0,1.0,0.0,8.0,Basic,Annual,768.78,7.0,0.0
3,26.0,Male,40.0,5.0,3.0,8.0,Premium,Annual,398.00,12.0,1.0
4,27.0,Female,17.0,30.0,5.0,6.0,Basic,Annual,507.00,15.0,1.0
6,49.0,Male,6.0,7.0,0.0,0.0,Standard,Annual,751.00,11.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
49994,63.0,Male,16.0,24.0,2.0,18.0,Standard,Quarterly,442.00,26.0,1.0
49995,62.0,Female,35.0,7.0,2.0,8.0,Basic,Annual,232.00,15.0,1.0
49996,36.0,Male,43.0,21.0,2.0,30.0,Basic,Quarterly,928.00,30.0,1.0
49998,40.0,Female,14.0,19.0,1.0,17.0,Premium,Quarterly,826.76,12.0,0.0
49999,64.0,Male,41.0,29.0,5.0,9.0,Basic,Quarterly,700.38,18.0,1.0

cancelou
0.0    21603
1.0    18509
Name: count, dtype: int64

cancelou
0.0    53.9%
1.0    46.1%
Name: proportion, dtype: object

In [84]:
# chegamos agora em menos da metade de pessoas cancelando, mas ainda temos muitas pessoas ai, vamos continuar analisando
display(tabela["assinatura"].value_counts(normalize=True))
display(tabela.groupby("assinatura").mean(numeric_only=True))
# vemos que assinatura Ã© quase 1/3, 1/3, 1/3
# e que os cancelamentos sÃ£o na mÃ©dia bem parecidos, entÃ£o fica difÃ­cil tirar alguma conclusÃ£o da mÃ©dia, vamos precisar ir mais a fundo

assinatura
Standard    0.343264
Premium     0.333466
Basic       0.323270
Name: proportion, dtype: float64

,idade,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,total_gasto,meses_ultima_interacao,cancelou
assinatura,,,,,,,,
Basic,38.777049,32.266908,15.938459,3.328064,12.538752,648.339261,14.317036,0.476517
Premium,38.885766,31.120813,15.762111,3.238038,12.430697,653.459842,14.306071,0.453947
Standard,38.764035,31.055850,15.929697,3.237345,12.551601,655.504070,14.271479,0.454499

In [1]:
# vamos criar grÃ¡fico, porque sÃ³ com nÃºmeros tÃ¡ difÃ­cil de visualizar
import plotly.express as px

for coluna in tabela.columns:
    grafico = px.histogram(tabela, x=coluna, color="cancelou")
    grafico.show()

NameError: name 'tabela' is not defined

In [2]:
# ligaÃ§Ãµes para call center acima de 4, cancelam?
# dias de atraso > 2, todos cancelam !

tabela = tabela[tabela["ligacoes_callcenter"] < 5]
tabela = tabela[tabela["dias_atraso"] <= 20]

display(tabela["cancelou"].value_counts())
display(tabela["cancelou"].value_counts(normalize=True).map("{:.1%}".format))

NameError: name 'tabela' is not defined